body {
font-family: 'Open Sans', sans-serif;
padding:6px;
  h1 {
    color: #000000;
    font-weight:300;
    font-size:20pt;
    padding:0px;
    margin:8px 0px 18px 0;
  }
  #holder {
  	border:1px solid #d8d8d8;
  	background-color:#f8f8f8;
  	max-width:980px;
  	min-width:320px;
  	text-align:center;
    padding:0 0 10px 0;
  }
  .listing {
  	background-color:#FFFFFF;
  	margin:0 0 10px 0;
  	text-align:left;
  	box-shadow: 0px 5px 5px 0px #ededed;
  }
  .listing:hover {
    box-shadow: 0px 5px 5px 0px #a8a8a8;
  }
  .listing img {
  	margin:20px 16px 20px 20px;
  	float:left;
  }
  .listing .address {
    padding:29px 0 1px 0;
    color:#000000;
    font-size:13pt;
  }
  .listing .location {
  	color:#919191;
  	font-size:11pt;
  }
  .listing .add {
    margin:31px 15px 0 0;
    padding:2px 17px 0 0;
  	float:right;
  	height:38px;
  	width:88px;
    background-color:#FFFFFF;
  	background-image:url(../images/add.jpg);
    background-repeat:no-repeat;
    background-position:0px -2px;
    border:1px solid #d8d8d8;
    font-size:8pt;
    font-weight:bold;
    color:#0583c7;
    text-align:right;
    overflow:hidden;
    outline: 0 none;
  }
  .listing .add:hover {
    background-color:#0583c7;
    background-image:url(../images/add_hover.jpg);
    background-position:0px -2px;
    color:#FFFFFF;
  }
  .check {
    background-image:url(../images/check.png);
    width:90px;
    height:97px;
    position:relative;
    top:-100px;
    }
  #cart_holder {
    max-width:980px;
  }
  #cart {
    margin:15px 0 4px 0;
    height:70px;
    width:70px;
    background:url(../images/cart_circles.svg);
    background-repeat:no-repeat;
    background-position:0px 0px;
    -moz-transform: scale(0);
    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Chrome, Safari, Opera */
    transform: scale(0);
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear; /* IE 9 */
    -webkit-transition: all 0.25s linear; /* Chrome, Safari, Opera */
    transition: all 0.25s linear;
    opacity: 0;
  }
  #cart.fade {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2);
    opacity: 1;
  }
  #cart.set {
    -moz-transform: scale(1);
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Chrome, Safari, Opera */
    transform: scale(1);
  }
  #cart_icon {
    position:relative;
    top:25px;
    left:18px;
  }
  #count{
    height:24px;
    width:24px;
    background:url(../images/green.svg);
    background-repeat:no-repeat;
    background-size:100%;
    text-align:center;
    font-weight:bold;
    float:right;
    padding-top:2px;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease; /* IE 9 */
    -webkit-transition: all 0.3s ease; /* Chrome, Safari, Opera */
    transition: all 0.3s ease;
  }
  #count.animated {
    -moz-transform: scale(2);
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
  }
  .clear_left {
    clear:left;
  }
  .clear_both {
  	clear:both;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  .listing .address {font-size: 10pt;}
  .listing .location {font-size: 10pt;}
  h1 {font-size:16pt;}
  }
}
