body {
font-family: 'Open Sans', sans-serif;
padding:6px;
  h1 {
    color: #000000;
    font-weight:300;
    padding:0px;
    margin:8px 0px;
  }
  #holder {
  	border:1px solid #d8d8d8;
  	background-color:#f8f8f8;
  	max-width:980px;
  	min-width:320px;
  	text-align:center;
  }
}
